
.navBar{
justify-content: center;
background-color: #c2ede1;
}
.nav-menu{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0px;
  padding-top: 15px;
  font-size: 1.5rem;
}

.li{
  padding-top: 40px;
}
